# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs & Temp files
*.log
*.txt
!/README.md
!/requirements.txt
!/backend/requirements.txt

# Antigravity / Gemini
.gemini/
